@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-work-sans: "Work Sans", sans-serif;

  --color-purple-100: #f8eeff;
  --color-purple-600: #8b6990;
  --color-purple-950: #301534;

  --color-violet-600: #ad28eb;
}

@utility text-preset-1 {
  font-family: var(--font-work-sans);
  font-weight: 700;
  font-size: clamp(2rem, 1.5vw + 1rem, 3.5rem);
  line-height: clamp(2.5rem, 2vw + 1rem, 4.125rem);
}
@utility text-preset-2 {
  font-family: var(--font-work-sans);
  font-weight: 600;
  font-size: clamp(1rem, 1.5vw + 1rem, 1.125rem);
  @media (min-width: 48rem) {
    line-height: 1.3125rem;
  }
}
@utility text-preset-3 {
  font-family: var(--font-work-sans);
  font-size: 0.875rem;
  line-height: 150%;
  font-weight: 400;
  @media (min-width: 48rem) {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
